* {
  margin: 0;
  padding: 0;
  background-color: rgb(33, 32, 32);
}
body {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: rgb(33, 32, 32);
  /* background-image: url("bgg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* */
}
nav {
  display: flex;
  position: relative;
  color: white;
  /* background-color: rgba(40, 32, 32, 0.289); */
}
nav button {
  background-color: none;
}
nav ul li {
  display: inline-flex;
  margin-left: 2.5rem;
  margin-top: 1rem;
}
nav img {
  margin-left: 6rem;
  margin-top: 0.7rem;
}

nav button {
  margin-left: 6rem;
  margin-top: 0.6rem;
  border-radius: 5rem;
  width: 9rem;
  height: 3rem;
  outline: none;
  background-color: rgb(245, 176, 49);
  border: 1px solid orange;
  color: white;
}
nav ul li i {
  margin-top: 0.35rem;
  margin-right: 3.5px;
  color: orange;
}

.secondpart {
  display: flex;
  color: white;
  justify-content: space-around;
  /* background-image: url("orange12.png.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: sticky; */
}
.secondpart div {
  width: 25rem;
  border-radius: 2rem;
  margin-top: 3rem;
}
.secondpart div h2 {
  text-align: center;
  margin-top: 1rem;
  background-color: orange;
}
.secondpart div i {
  font-size: 3rem;
  margin-left: 10rem;
  margin-top: 2.3rem;
  background-color: orange;
}
.secondpart .order {
  background-color: orange;
  height: 21rem;
}
.secondpart div p {
  background-color: orange;
  padding: 8px;
  line-height: 1.7rem;
}
.secondpart .delivery {
  background-color: orange;
}
.secondpart .delicious {
  background-color: orange;
}
.span h2 {
  color: orange;
  padding-top: 5rem;
  margin-top: -1rem;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  /* text-decoration: underline; */
}
.span h1 {
  color: white;
  padding-top: 1rem;
  margin-top: -1rem;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.third {
  display: flex;
  justify-content: space-around;
  margin-top: -1rem;
}
.third div img {
  height: 27rem;
  margin-top: 4rem;
  border-radius: 33rem;
}
.third div img:hover {
  height: 27.9rem;
  margin-top: 4rem;
  border-radius: 35rem;
  transition: 1s;
}

.third div h2 {
  color: white;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  /* margin: 8px; */
}

.viewmore {
  text-align: center;
}
.viewmore .view:hover {
  width: 9rem;
  height: 3.6rem;
  color: orange;
  background-color: rgb(33, 32, 32);
  border: 1px solid orange;
  outline: none;
  border-radius: 10rem;
  transition: 0.5s;
}
div .view {
  width: 9rem;
  height: 3.6rem;
  background-color: orange;
  color: white;
  outline: none;
  border-radius: 10rem;
}
.navbarstyleouter {
  height: 8rem;
  margin-top: -1rem;
  padding-top: 3.5rem;
}
.navbarstyleouter .navbarstyle {
  width: 40%;
  display: flex;
  /* justify-content: space-around; */
  height: 3rem;
  border-radius: 2rem;
  background-color: rgb(55, 54, 54);
  margin-left: 28.5rem;
  /* align-items: center;
  align-content: center;
  text-align: center; */
}
.navbarstyleouter .navbarstyle h5 {
  color: white;
  margin-top: 0.7rem;
  background-color: rgb(55, 54, 54);
}
.navbarstyleouter .navbarstyle h5 .all {
  color: white;
  /* margin-top: 0.7rem; */
  outline: none;
  background-color: orange;
  width: 6.28rem;
  border-radius: 2rem;
  height: 3rem;
  margin-top: -0.7rem;
  border: none;
}
.navbarstyleouter .navbarstyle h5 .button2 {
  /* margin-top: 0.7rem; */
  outline: none;
  color: white;
  background-color: rgb(55, 54, 54);
  width: 6.28rem;
  border-radius: 2rem;
  height: 3rem;
  margin-top: -0.7rem;
  border: none;
}
.navbarstyleouter .navbarstyle h5 .button2:hover {
  /* margin-top: 0.7rem; */
  outline: none;
  color: white;
  background-color: orange;
  width: 6.28rem;
  border-radius: 2rem;
  height: 3rem;
  margin-top: -0.7rem;
  border: none;
}

.fourth {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 62rem;
  justify-content: space-around;
}
.fourth .first img {
  height: 20rem;
  margin-bottom: 9rem;
}
.fourth img:hover {
  height: 20.3rem;
  transition: 0.5s;
}
.fourth .first1 img {
  height: 20rem;
  margin-left: 3.5rem;
}
.fourth .first1 img:hover {
  height: 20.3rem;
  transition: 0.5s;
}

.fourth .first2 img {
  height: 18rem;
  margin-top: 0.1rem;
}
.fourth .first2 img:hover {
  height: 18.3rem;
  transition: 0.5s;
}

.fourth .first h5 {
  color: white;
  text-align: center;
  margin-top: -9rem;
}
.fourth .first p {
  color: white;
  text-align: center;
}
.fourth .first h5 p h7 {
  text-align: center;
  color: orange;
}

.fourth .first2 h5 {
  color: white;
  text-align: center;
  margin-top: 1.7rem;
}
.fourth .first2 p {
  color: rgb(183, 177, 177);
  text-align: center;
}

.fourth .first1 h5 {
  color: white;
  text-align: center;
  margin-top: 0.6rem;
}
.fourth .first1 p {
  color: rgb(183, 177, 177);
  text-align: center;
}

.fifth {
  display: flex;
  justify-content: space-between;
  background-color: white;
  line-height: 3rem;
  text-align: center;
  height: 40rem;
  padding-top: 3rem;
  /* color: rgb(211, 16, 16); */
}
.fifth .fifthone {
  width: 50%;
  background-color: white;
  margin-top: 4.5rem;
  /* background-color: white;
  color: white; */
}
.fifthone h2 {
  color: orange;
  /* padding-top: 5rem;
  margin-top: -1rem; */
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: white;
}
.fifth .fifthone p {
  background-color: white;
  width: 23rem;
  text-align: start;
  margin-left: 13rem;
  margin-top: 1.5rem;
  line-height: 1.2rem;
  font-size: 1rem;
}

.fifth .fifthtwo {
  width: 50%;
  background-color: white;
  /* text-align: center; */
  /* background-color: white;
  color: white; */
}

.fifthtwo input {
  background-color: white;
  margin-top: 3rem;
  width: 70%;
  padding-left: 1rem;
  border: 1px solid black;
  outline: none;
}

.fifthtwo h3 {
  background-color: white;
  color: black;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-family: sans-serif; */
}
.fifthtwo button {
  background-color: white;
  margin-top: 2.5rem;
  width: 9rem;
  border-radius: 4rem;
  outline: none;
  border: 1px solid orange;
}
.fifthone h1 {
  background-color: white;
  color: black;
  font-size: 3.5rem;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.fifthone .pno {
  background-color: black;
  color: white;
  height: 5.3rem;
  padding-top: 0.5rem;
  width: 22rem;
  margin-left: 12rem;
  margin-top: 2rem;
  border: 12px solid orange;
}

.sixth h2 {
  color: orange;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  padding-top: 2.5rem;
  /* background-color: black; */
}
.sixth h1 {
  /* background-color: white; */
  color: white;
  font-size: 3.1rem;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.seventh {
  margin-top: -1.21rem;
}
.carous {
  background-color: rgb(33, 32, 32);
  margin: 20px;
  width: 90%;
  height: 30rem;
  /* border: 5px solid red; */
  display: flex;
  overflow-x: auto;
  gap: 1em;
  margin-left: 5rem;
}
.carous::-webkit-scrollbar {
  display: none;
}
.carous .card1 {
  flex: 0 0 5em;
  height: 10em;
  padding: 1em;
  outline: none;
  /* background: white; */
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  justify-content: center;
}
.carous .card p {
  background-color: white;
  color: black;
  font-size: large;
  /* height: 4rem; */
  text-align: center;
}
.card1 .card img {
  height: 20rem;
  /* width: 20rem; */
}
.carous .group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 20s infinite linear;
  padding-right: 1em;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.eighth h2 {
  color: orange;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: white;
}
.eighth h1 {
  margin-top: -0.5rem;
  color: black;
  background-color: white;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.eighth-one {
  display: flex;
  /* height: 26rem; */
  justify-content: space-around;
  background-color: white;
  /* color: white; */
}
.eighth-one img {
  width: 25rem;
  height: 15rem;
  background-color: white;
  /* margin-top: 2rem; */
  /* border-radius: 0.5rem; */
}

.eighth-one img:hover {
  width: 25rem;
  height: 15.6rem;
  transition: 1s;
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.eighth-one .first div {
  background-color: white;
  display: flex;
  /* margin-top: 0.6rem; */
  justify-content: space-between;
}

.eighth-one div p {
  background-color: white;
  font-weight: 100;
  margin-top: 0.3rem;
  /* margin-left: 5rem; */
}
.eighth-one h5 {
  background-color: white;
  font-size: 1.3rem;
  /* margin-top: 0.5rem; */
}
.eighth-one h5:hover {
  color: orange;
  /* background-color: white;
  font-size: 1.3rem; */
  /* margin-top: 0.5rem; */
}

.eighth-one .first .readmore {
  background-color: white;
  margin-top: -0.46rem;
  font-weight: 150;
  color: orange;
  /* margin-top: -0rem; */
}
.eighth-one .first .readmore:hover {
  color: black;
  background-color: white;
  margin-top: -0.46rem;
  font-weight: 150;
  /* padding-top: 1rem; */
  /* margin-top: -0rem; */
}

.ninth {
  height: 10rem;
}
.ninth img {
}
