* {
  margin: 0;
  padding: 0;
}
body {
  background-color: wheat;
}
h1 {
  color: mediumslateblue;
  /* background-color: #fff; */
  text-align: center;
  margin-top: 8rem;
}
.cygi {
  color: mediumslateblue;
  /* background-color: wheat; */
  /* background-color: #fff; */
  text-align: center;
  margin-top: 8rem;
  text-align: center;
  margin-top: 0;
}
input {
  width: 5rem;
  height: 4rem;
  padding-left: 1rem;
  color: black;
  margin-left: 45%;
  margin-top: 5rem;
  border: 2px solid rgb(40, 39, 39);
  border-radius: 2rem;
  font-size: larger;
  /* justify-items: center; */
}
button {
  background-color: mediumslateblue;
  color: white;
  width: 7rem;
  height: 3rem;
  border-radius: 5rem;
  border: 1px solid mediumslateblue;
  outline: none;
  display: block;
  margin-left: 45%;
  margin-top: 3rem;
}

h3 {
  /* color: mediumslateblue; */
  text-align: center;
  margin-top: 3rem;
}
.red {
  color: red;
}

.green {
  color: green;
}
h2 {
  text-align: center;
  /* margin-top: 3rem; */
}
paragraph {
  font-size: 3rem;
}
.bg {
  background-color: greenyellow;
  /* color: black; */
}
