* {
  margin: 0;
  padding: 0;
}
body {
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #9feb09;
  padding: 10px 20px;
  position: relative;
  height: 4rem;
}

nav a {
  text-decoration: none;
  padding: 8px 12px;
  color: #333;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a {
  padding: 10px 12px;
  display: block;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #b0e439;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* mycode */
nav img {
  height: 8rem;
  margin-left: 6rem;
}
.nav-option {
  margin-left: 8rem;
  font-weight: 800;
  font-size: 16.5px;
  font-family: "Trirong", serif;
}
.nav-actions {
  display: flex;
}
.search {
  border: 2px solid blue;
  padding: 0.7rem;
  border-radius: 19px;
  margin-left: 15rem;
}
.reservation {
  border: 2px solid blue;
  padding: 0.7rem;
  border-radius: 19px;
  margin-left: 1rem;
}
.user {
  border: 2px solid blue;
  padding: 0.7rem;
  border-radius: 19px;
  margin-left: 1rem;
}
.group-img {
  display: flex;
  
  /* position: absolute; */
  background-color: #362cff;
  height: 45rem;
  width: 100%;
  font-family: "Courier New", monospace;
  color: black;
}
.group-img img {
  height: 45rem;
  width: 65%;
  border-bottom-right-radius: 120rem;
}
.welcome {
  margin-top: 13rem;
  /* height: 1rem; */
  font-size: 22px;
  text-align: end;
  font-family: "Courier New", monospace;
}
.arrange .welcome-below {
  text-align: start;
  height: 8rem;
  width: 20rem;
  margin-top: 18rem;
  margin-right: 65rem;
  font-size: 2.5rem;
  background-color: #9feb09;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif";
}
.arrange .welcome-below-below {
  background-color: #dd0b0b;
  width: 17rem;
  font-size: 22px;
  text-align: start;
  margin-top: 30rem;
  margin-left: -78rem;
  font-family: "Courier New", monospace;
}
button {
  border-radius: 12rem;
  height: 3rem;
  width: 10rem;
  font-size: large;
  margin-top: 37rem;
  margin-left: -89rem;
  background-color: blanchedalmond;
}

.about-img {
  background-color: maroon;
  margin-left: 10rem;
  height: 30rem;
  margin-top: 8rem;
}
.about-img img {
  height: 32rem;
}
.about {
  /* justify-content: end; */
  margin-top: 3rem;
  display: flex;

  /* margin-left: 3rem; */
}
.about .text {
  /* background-color: #362cff; */
  height: 40rem;
  width: 100rem;
  text-align: start;
  padding: 5rem;
}
.about h3 {
  line-height: 5rem;
  font-size: 2.2rem;
  color: maroon;
}
.about h1 {
  line-height: 4.5rem;
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.about p {
  line-height: 2.6rem;
  font-size: 1.5rem;
}

.about ol {
  list-style-type: none;
  margin-top: 2rem;
  line-height: 2.2rem;
  font-weight: bold;
  /* font-size: medium; */
}
.about ol li i {
  margin-right: 0.5rem;
}
.about button {
  margin-top: 3rem;
  height: 2.5rem;
  width: 7rem;
  font-size: 1rem;
  background-color: maroon;
  color: white;
  border: none solid maroon;
  outline: none;
}
.top-course {
  text-align: center;
  height: 3rem;
  font-size: 2rem;
  color: maroon;
}
/* .top-courses::before,
.top-courses::after {
  content: "-";
  flex-grow: 7;
  margin: 0 10px;
} */
.explore-course {
  color: black;
  text-align: center;
  height: 3rem;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 0.7rem;
}
.explore-course-box {
  display: flex;
  margin-top: 3rem;
  height: 12rem;
  justify-content: space-around;
}

.explore-course-box .engineering {
  background-color: maroon;
  color: white;
  height: 9.2rem;
  width: 15rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
}
.explore-course-box .medical {
  background-color: maroon;
  color: white;
  height: 9.2rem;
  width: 15rem;
  padding-top: 2rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 2.5rem;
}
.explore-course-box .arts {
  background-color: maroon;
  color: white;
  height: 10rem;
  width: 15rem;
  padding-top: 1.2rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 2.5rem;
}
.explore-course-box .law {
  background-color: maroon;
  color: white;
  height: 9rem;
  width: 15rem;
  border-radius: 2rem;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
}
.our-colleges {
  height: 3rem;
  font-size: 1.5rem;
  color: maroon;
  margin-top: 3rem;
  margin-left: 5rem;
}
.our-best-colleges h1 {
  color: black;
  height: 3rem;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 0.7rem;
  margin-left: 5rem;
}
.our-best-colleges {
  display: flex;
}
.our-best-colleges button {
  margin-left: 60rem;
  width: 7rem;
  height: 3rem;
  color: white;
  margin-top: 0.5rem;
  background-color: maroon;
}

.card-conatiner {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  height: 50rem;
  /* margin: 1rem; */
  margin-top: 2rem;
}

.card {
  display: flex;
  /* margin: 2rem; */
  /* justify-content: space-between; */
}

.card img {
  width: 18rem;
  height: 15rem;
  padding: 20px;
}

.card-text {
  width: 25rem;
  text-align: start;
  margin-top: 1rem;
}

.card-text h3 {
  font-family: cursive;
}

.card-text p {
  margin-top: 1rem;
}

.card p i {
  color: maroon;
  size: 1rem;
  margin-right: 0.4rem;
}

.read-more button {
  height: 2rem;
  width: 6rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: maroon;
  color: white;
}
.read-more {
  padding-top: 1rem;
}

.steps_section {
  padding: 80px 0px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-left: 5rem;
}
.steps_section .conatiner {
  /* width: 90%; */
  max-width: 1200px;
  margin: 2rem;
}
.steps_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.step {
  position: relative;
  flex: 1;
  text-align: center;
  min-width: 300px;
}
.circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 10px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.circle.red {
  border-color: red;
  padding: 10px;
}
.circle.dark {
  padding: 10px;
  border-color: rgb(53, 52, 52);
}
.circle:hover {
  transform: scale(1.05);
}
.circle h3 {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.circle p {
  font-size: 15px;
  color: grey;
  padding: 0 20px;
  text-align: center;
}
.step::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -41%;
  width: 40rem;
  height: 3px;
  background: pink;
  z-index: -1;
}
.step:left :last-child:after {
  display: none;
}

.steps_section .txt {
  text-align: center;
}
.steps_section .easy-steps {
  color: maroon;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.steps_section .how {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 3.4rem;
}
.parent {
  display: flex;

  margin: 2rem;
  margin-top: 10rem;
}
.parent h3 {
  color: maroon;
  font-size: 1.6rem;
  margin: 1rem;
}
.parent p {
  color: grey;
  margin: 1.4rem;
}
.parent h1 {
  margin: 1rem;
  margin-top: 3rem;
  font-size: 3rem;
}
.parent h2 {
  margin: 1rem;
  font-size: 1.5rem;
}
.parent .two {
  height: 20rem;
  z-index: 0;
  margin-top: -12rem;
  margin-left: -6rem;
  border-radius: 1rem;
}

.parent .one {
  height: 40rem;
  border-radius: 1rem;
}
.parent button {
  height: 3rem;
  width: 9rem;
  margin: 1.4rem;
  color: white;
  background-color: maroon;
  outline: none;
  border-radius: 0.5rem;
}
.parent i {
  margin-left: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-around;
  /* background-color: #333; */
  background-color: rgb(1, 1, 50);
  height: 35rem;
}
footer .aarav img {
  height: 12rem;
  margin: 1rem;
}
footer .aarav {
  color: white;
  margin: 2rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
  /* background-color: #fff; */
  width: 25rem;
}
footer .aarav i {
  margin: 0.5rem;
  margin-top: 3rem;
  font-size: 1.3rem;
}
footer .our {
  color: white;
  line-height: 3rem;
  margin-top: 5rem;
  width: 20rem;
  margin-left: 2rem;
}
footer .useful {
  color: white;
  line-height: 3rem;
  margin-top: 5rem;
  width: 20rem;
}
footer .contact {
  color: white;
  line-height: 3rem;
  margin-top: 5rem;
  width: 20rem;
}
footer .contact i {
  margin: 0.5rem;
  /* margin-top: 3rem; */
  font-size: 1rem;
}
div .copright {
  color: white;
  background-color: rgb(1, 1, 50);
  /* padding-left: 2rem; */
  text-align: center;
  font-size: 1.2rem;
}

div .copright i {
  margin: 0.3rem;
}
