.foothead {
  width: 85%;
  height: 7rem;
  background-color: maroon;
  color: white;
  border-radius: 7rem;
  display: flex;
}
.foothead div {
  margin-left: 3rem;
  line-height: 0.5rem;
  margin-top: 1rem;
}

input {
  box-sizing: 100%;
  height: 3rem;
  width: 50%;
  border-radius: 4rem;
  background-color: white;
  margin-left: 6rem;
  margin-top: 1.3rem;
  border: 9px solid white;
  font-size: larger;
}
.foothead button {
  margin-left: -7.5rem;
  margin-top: 2rem;
  height: 2.8rem;
  width: 7rem;
  border-radius: 3rem;
  background-color: maroon;
  color: white;
  outline: none;
  border: 1px solid maroon;
}
